.header {
  height: 60px;
  background: #111827;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 24px;

  font-size: 20px;
  font-weight: bold;
}

.status {
  font-size: 14px;
  font-weight: normal;
  color: #22c55e;
}

.split-screen {
  display: flex;
  height: calc(100vh - 60px);
}

.panel {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.whiteboard-panel {
  background: #f8fafc;
  color: #111827;

  border-right: 1px solid #d1d5db;
}

.editor-panel {
  background: #1e1e1e;
  color: white;
}

.panel-header {
  height: 45px;

  display: flex;
  align-items: center;

  padding: 0 20px;

  font-weight: 600;

  border-bottom: 1px solid #d1d5db;
}

.panel-content {

  flex:1;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:18px;
  opacity:0.8;
}

@media(max-width:768px){

  .split-screen{
    flex-direction:column;
  }

  .panel{
    min-height:50vh;
  }
}