.problems-container{

height:100%;
background:#0f172a;
color:#e5e7eb;

font-family:
"Segoe UI",
sans-serif;

display:flex;
flex-direction:column;

}



.problems-header{

height:42px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 15px;

border-bottom:1px solid #1e293b;

}



.problem-title{

display:flex;

gap:10px;

align-items:center;

font-size:14px;

font-weight:600;

}



.count{

background:#334155;

padding:2px 8px;

border-radius:12px;

font-size:12px;

}



.clear-btn{

display:flex;

align-items:center;

gap:6px;

background:none;

border:none;

color:#94a3b8;

cursor:pointer;

font-size:13px;

}



.clear-btn:hover{

color:white;

}



.problem-list{

overflow:auto;

flex:1;

}



.problem-item{

display:flex;

align-items:center;

padding:10px 15px;

border-bottom:1px solid #1e293b;

cursor:pointer;

}



.problem-item:hover{

background:#1e293b;

}



.problem-icon{

margin-right:12px;

}



.error-icon{

color:#ef4444;

}



.warning-icon{

color:#f59e0b;

}



.info-icon{

color:#38bdf8;

}



.problem-details{

flex:1;

}



.problem-message{

font-size:14px;

}



.problem-location{

font-size:12px;

color:#94a3b8;

margin-top:4px;

}



.remove{

background:none;

border:none;

color:#64748b;

cursor:pointer;

}



.remove:hover{

color:white;

}



.empty{

height:100%;

display:flex;

align-items:center;

justify-content:center;

color:#64748b;

font-size:14px;

}